{%include 'base.html'%}

{% block content %}

<div class="container-fluid">
    <div class="social-box">
        <div class="header bg-cyan fg-white">
            <img data-width="100" src="/static/img/narsha.jpg" class="avatar img-fluid">
            <div class="title">Arnold Shvarcenegger</div>
            <div class="subtitle">Terminator</div>
        </div>
        <ul class="skills">
            <li>
                <div class="text-bold">6</div>
                <div>AWARDS</div>
            </li>
            <li>
                <div class="text-bold">4</div>
                <div>NOMINATIONS</div>
            </li>
            <li>
                <div class="text-bold">36</div>
                <div>FILMS</div>
            </li>
        </ul>
    </div>
</div>
  
{% endblock  %}
